#hiddenQuestions {
	display: none;
}

#hiddenQuestions2 {
	display: none;
}

#hiddenFiction {
	display: none;
}

#hiddenQuestions3 {
	display: none;
}

#hiddenButtons {
	display: none;
}

#hiddenAngry {
	display: none;
}

#hiddenPicture {
	display: none;
}